<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <header class="head">
        <nav class="nav">
            <ul class="item-list">
                <li class="item"><a href="/">Shop</a></li>
                <li class="item"><a href="/add-product">Add Product</a></li>
                <li class="item"><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <h1>Contact Us</h1>
        <form class="form" action="/contactus" method="POST">
            <input type="text" name="name" placeholder="Name" size="35">
            <br>
            <input type="text" name="eamil" placeholder="Email" size="35"><br><br>
            <button class="btn" type="submit">Send</button>
        </form>
    </div>
    </main>
    
</body>
</html>