<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="head">
        <nav class="nav">
            <ul class="item-list">
                <li class="item"><a href="/">Shop</a></li>
                <li class="item"><a href="/add-product">Add Product</a></li>
                <li class="item"><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <h1>Form successfuly filled !!!</h1>
</body>
</html>